.container {
    padding: 16px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.paginationContainer {
    float: right;
}

.loading {
    color: white;
}
