.characterImg {
    width: 250px;
}

.card {
    width: 250px;
    margin: 16px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 12px;
    overflow: hidden;
}

.nameContainer {
    padding: 4px 8px;
    background-color: white;
}
